html {
  height: 100vh;
}

body {
  min-height: 100%;
}

.text-rotate-right {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/**
 * Scrollbar
 */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
